In [16]:
import pandas as pd

import zipfile
from urllib.request import urlopen
import io

In [17]:
url = 'https://www.prismnet.com/~mmccants/catalogs/rcs.zip'
zf = zipfile.ZipFile(io.BytesIO(urlopen(url).read()))
zf.filelist

In [ ]:
# f = open(zf.open('rcs'), 'r')
# file_contents = f.read()
# print (file_contents)

In [23]:
colnames=['NORAD_CAT_ID', 'RCS', 'SOURCE'] 
bank = pd.read_csv(zf.open('rcs'), delimiter=" ", names=colnames, header=None)
bank.head()

                       NORAD_CAT_ID  RCS  SOURCE
NaN NaN NaN NaN  5.00          0.11  NaN     6.0
            11.0 0.39         13.00  NaN     NaN
            12.0 0.53         20.00  NaN     NaN
            16.0 0.22         11.00  NaN     NaN
            20.0 0.66         15.00  NaN     NaN

In [36]:


colnames=['NORAD_CAT_ID', 'RCS', 'SOURCE'] 
sat0 = pd.read_csv('/content/rcs_1.csv')

In [28]:
# https://www.prismnet.com/~mmccants/catalogs/index.html

colnames=['NORAD_CAT_ID', 'RCS', 'SOURCE'] 
sat0 = pd.read_csv('https://www.prismnet.com/~mmccants/catalogs/rcs.zip', delimiter=" ", names=colnames, header=None)

In [37]:
sat0.head()

   NORAD_CAT_ID   RCS  SOURCE
0             5  0.11       6
1            11  0.39      13
2            12  0.53      20
3            16  0.22      11
4            20  0.66      15

In [ ]:
print(sat0)

        NORAD_CAT_ID  RCS  SOURCE
0          5 0.11  6  NaN     NaN
1         11 0.39 13  NaN     NaN
2         12 0.53 20  NaN     NaN
3         16 0.22 11  NaN     NaN
4         20 0.66 15  NaN     NaN
...              ...  ...     ...
17181  42668 .012  1  NaN     NaN
17182  42669 .033  1  NaN     NaN
17183  42673 .026  1  NaN     NaN
17184  42674 .006  1  NaN     NaN
17185          99999  NaN     NaN

[17186 rows x 3 columns]

In [ ]:
sat = pd.read_csv("https://celestrak.org/pub/satcat.csv")

In [ ]:
sat.head()

,OBJECT_NAME,OBJECT_ID,NORAD_CAT_ID,OBJECT_TYPE,OPS_STATUS_CODE,OWNER,LAUNCH_DATE,LAUNCH_SITE,DECAY_DATE,PERIOD,INCLINATION,APOGEE,PERIGEE,RCS,DATA_STATUS_CODE,ORBIT_CENTER,ORBIT_TYPE
0,SL-1 R/B,1957-001A,1,R/B,D,CIS,1957-10-04,TYMSC,1957-12-01,96.19,65.10,938.0,214.0,20.420,NaN,EA,IMP
1,SPUTNIK 1,1957-001B,2,PAY,D,CIS,1957-10-04,TYMSC,1958-01-03,96.10,65.00,1080.0,64.0,NaN,NaN,EA,IMP
2,SPUTNIK 2,1957-002A,3,PAY,D,CIS,1957-11-03,TYMSC,1958-04-14,103.74,65.33,1659.0,211.0,0.080,NaN,EA,IMP
3,EXPLORER 1,1958-001A,4,PAY,D,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,215.0,183.0,NaN,NaN,EA,IMP
4,VANGUARD 1,1958-002B,5,PAY,NaN,US,1958-03-17,AFETR,NaN,132.72,34.26,3833.0,648.0,0.122,NaN,EA,ORB

In [ ]:
df  = sat.dropna(subset=["DECAY_DATE"])

In [ ]:
df.head()

,OBJECT_NAME,OBJECT_ID,NORAD_CAT_ID,OBJECT_TYPE,OPS_STATUS_CODE,OWNER,LAUNCH_DATE,LAUNCH_SITE,DECAY_DATE,PERIOD,INCLINATION,APOGEE,PERIGEE,RCS,DATA_STATUS_CODE,ORBIT_CENTER,ORBIT_TYPE
0,SL-1 R/B,1957-001A,1,R/B,D,CIS,1957-10-04,TYMSC,1957-12-01,96.19,65.10,938.0,214.0,20.4200,NaN,EA,IMP
7,SPUTNIK 3,1958-004B,8,PAY,D,CIS,1958-05-15,TYMSC,1960-04-06,88.43,65.06,255.0,139.0,11.8400,NaN,EA,IMP
22,JUNO II R/B,1959-009B,23,R/B,D,US,1959-10-13,AFETR,1989-07-16,89.24,50.27,249.0,225.0,0.5778,NaN,EA,IMP
27,THOR ABLE R/B,1960-002A,28,R/B,D,US,1960-04-01,AFETR,1991-07-03,87.80,48.34,168.0,163.0,1.6017,NaN,EA,IMP
59,EXPLORER 8,1960-014A,60,PAY,D,US,1960-11-03,AFETR,2012-03-28,87.84,49.88,177.0,158.0,0.4520,NaN,EA,IMP

In [ ]:
df.shape

(27505, 17)

In [ ]:
sat.shape

(53472, 17)

In [ ]:
df = df.dropna(subset=["RCS"])

In [ ]:
df.shape

(16072, 17)

In [ ]:
df = df[df.RCS  > 0.16]

In [ ]:
df.shape

(6492, 17)

In [ ]:
df = df[df.PERIGEE < 800]

In [ ]:
df.shape

(6456, 17)